<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>airbnb Home</title>
</head>
<body>
  <header>
    Welcome to airbnb Web page!
  </header>
  <main>
    <h1>Add a Home</h1>
    <!-- Fixed form action -->
    <form action="/host/add-home" method="POST">
      <input type="text" name="houseName" placeholder="Enter the name of your house"/>
      <input type="submit"/>
    </form>
  </main>
</body>
</html>